* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: #ff4f88;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff9e9;
  color: #333;
  padding: 50px 0;
}
.icon {
  color: #6c6c6c;
}
.icon:hover {
  color: #333;
  cursor: pointer;
}

/* ------NAV------- */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  color: var(--primary)
}

/* ------INVENTORY------ */


.inventory-container {
  width: 60%;
  margin: 0 auto;
}
.inventory-table {
  width: 100%;
  margin: 100px 0;
  /* border-collapse: collapse; */
  border-spacing: 0 1em;
}
.inventory-table thead tr {
  border-radius: 0;
  box-shadow: none;
}
/* .inventory-table th {
  border: none;
} */
.inventory-table td {
  text-align: center;
  /* border:1px solid red; */
}
.inventory-table tr {
  /* border-bottom: 1px solid #e0e0e0; */
  border-radius: 7px;
  box-shadow: 0px 1px 3px 0px #c4c4c4;
}
.inventory-note {
  width: 50%;
}
textarea {
  background-color: #ddd;
  color: #666;
  padding: 1em;
  border-radius: 7px;
  border: 2px solid transparent;
  outline: none;
  font-family: inherit;
  /* width: ;
  height: ; */
  /* transition: all 0.1s; */
}
textarea:hover {
  background-color: #eee;
}
textarea:focus {
  cursor: text;
  color: #333;
  background-color: #eee;
}
/* .inventory-item {
  display: flex;
}
.inventory-item div {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */




/* ------SPELLS------ */


.spells-container {
  width: 60%;
  margin: 0 auto;
}

.spell-slot-container {
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  margin: 10px 0;
  padding: 10px;
}

.spell-slot-controls {
  display: flex;
  justify-content: space-between;
}